body {
  font-family: "Roboto-Thin", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #d1deeb;
  height: 100%;
  padding: 3rem;
  background: linear-gradient(#a6c0fe, #f68084);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  min-width: 1000px;
  text-align: center;
}

h1,
h2 {
  font-family: "Roboto-Thin", sans-serif;
  font-weight: 200;
}

#graph {
  display: block;
  margin: 0 auto;
}

.card {
  position: relative;
  perspective: 100rem;
  height: 800px;
  border-radius: 3px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.side {
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  top: 0;
  left: 0;
  height: 800px;
  width: 100%;
  border-radius: 3px;
  background-color: #2e2d36;
}

.back {
  transform: rotateY(180deg);
}

.flip {
  transform: rotateY(180deg);
}

.stats-container {
  text-align: center;
}

.stats {
  display: inline-block;
  margin: 20px;
}

.btn {
  background-color: transparent;
  border: none;
  margin: 10px;
}

.close {
  float: right;
}

.settings {
  float: right;
}
