body {
  font-family: "Roboto-Thin", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #d1deeb;
  height: 100%;
  padding: 3rem;
  background: linear-gradient(#a6c0fe, #f68084);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  min-width: 1000px;
  text-align: center;
}

h1,
h2 {
  font-family: "Roboto-Thin", sans-serif;
  font-weight: 200;
}

#graph {
  display: block;
  margin: 0 auto;
}

.card {
  padding: 3rem;
  background-color: #2e2d36;
  border-radius: 3px;
  margin: 20px;
}

.stats-container {
  text-align: center;
}

.stats {
  display: inline-block;
  margin: 20px;
}
